<section class="bg-color-white margin-top-Value">
  <div class="content">
    <div class="about-section">
      <div class="container">
        <div class="about-info">
          <h2 class="h2-color text-center">Welcome to Khyaathi Cloud Technologies
        </h2>
          <p class="text-left" style="font-size:18px;">Founded in 2013 a global IT training and service company . Created with vision to offer high quality training and support services to individuals and the corporate, in the field of ‘IT technical skill development’ and "IT development solutions".</p>
          <p class="text-left" style="font-size:18px;">We scaled new heights with every passing year. We deliver training and support in latest technologies related to Automation,Web Frameworks,Web Fullstack, Cloud Computing and Devops. We cater training and support to the Individuals and companies.</p>
        </div>
      </div>
    </div>
    <div class="about-section" style="background-color: #efefef">
      <div class="container">
        <div class="about-info">
          <h2 class="h2-color text-center">What do we provide</h2>
          <h3 class="text-center">Khyaathi's focus is mainly into the training and support.</h3>
          <h2 class="h2-color text-center">Training</h2>
          <ul class="text-left" style="font-size:18px;">
            <li>We provide training on automation with python.</li>
            <li>We support frameworks related to the automation with django and Flask.</li>
            <li>We provide training on cloud Infrastructure with trainings such as AWS,Openstack,Dockers and Kuberates.</li>
            <li>We provide training on Devops relative technologies such as Continuos Integrations/Delivery,Configuration management tools.</li>
            <li>We provide training online,classroom and self-paced session also.</li>
          </ul>
          <h2 class="h2-color text-center">Support</h2>
          <ul class="text-left" style="font-size:18px;">
            <li>We have a strong team which can work around the clock and provide good deliverables.</li>
            <li>We have delivered project relative to automation,devops,cloud Infra and devops.</li>
            <li>We provide support 24*7*365 days.</li>
          </ul>
          <h2 class="h2-color text-center">Our strengths</h2>
          <ul class="text-left" style="font-size:18px;">
            <li>We have a realtime high skilled Instructors.</li>
            <li>We provide 100% hands on training experience.</li>
            <li>100+ hands on lab exercises to prepare for real world scenerios.</li>
            <li>Regular seminars, workshops and expert talks for insight into real life scenarios.</li>
            <li>Learn at the pace that suits you – Regular, Fast Track, Bootcamp and Weekend batches. </li>
          </ul>
          <!--
          <h2 class="h2-color text-center">Welcome to Khyaathi Cloud Technologies </h2>
          <p class="p-color text-center">Founded in 2013 a global IT training company . Created with vision to offer high quality training services to individuals and the corporate, in the field of ‘IT technical skill development’, we scaled new heights with every passing year. We deliver training in latest technologies related to Automation,Web Frameworks,Web Fullstack, Cloud Computing and Devops. We cater training to the needs of the Industry. Our main focus is to make pupils self-reliant and learning a fun filled experience.</p> -->
        </div>
      </div>
    </div>
    <!-- <div class="about-section">
      <div class="container">
        <div class="about-info">
          <div class="row about-imgs img-div-margin">
            <div class="col-md-4 col-xs-12 about-img">
              <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/a1.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-md-4 col-xs-12 about-img">
              <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/a2.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-md-4 col-xs-12 about-img">
              <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/a3.jpg" class="img-responsive" alt="/">
            </div>
            <div class="clerafix"></div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="about-section" style="background-color: #efefef">
      <div class="container">
        <div class="about-info">
          <div class="row">
            <h2 class="text-center">Highlights</h2>
            <div class="col-md-12 col-xs-12">
              <ul class="color_15" style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size:18px;">
                <li class="text-left">
                  <p class="" style="font-size:18px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-size:18px;"><span class="color_15">Realtime Highly skilled Instructors.</span></span>
                    </span>
                  </p>
                </li>
                <li class="text-left">
                  <p class="" style="font-size:18px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-size:18px;"><span class="color_15">100% hands on training experience.</span></span>
                    </span>
                  </p>
                </li>
                <li class="text-left">
                  <p class="" style="font-size:18px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-size:18px;"><span class="color_15">100+ hands on lab exercises to prepare for real world scenerios.</span></span>
                    </span>
                  </p>
                </li>
                <li class="text-left">
                  <p class="" style="font-size:18px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-size:18px;"><span class="color_15">Regular seminars, workshops and expert talks for insight into real life scenarios.</span></span>
                    </span>
                  </p>
                </li>
                <li class="text-left"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-size:18px;"><span class="color_15">Learn at the pace that suits you – Regular, Fast Track, Bootcamp and Weekend batches.</span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--why-choose-->
    <!-- <div class="why-choose">
      <div class="container">
        <h3 class="h3-color">Why choose us</h3>
        <div class="choose-grids">
          <div class="col-md-3 choose-grid">
            <h4>1. Vestibulum iaculis</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>
          </div>
          <div class="col-md-3 choose-grid">
            <h4>2. Mauris asan nulla</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>
          </div>
          <div class="col-md-3 choose-grid">
            <h4>3. faucibus risus</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>
          </div>
          <div class="col-md-3 choose-grid">
            <h4>4. faucibus risus</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> -->
    <!--why choose-->
    <!-- <div class="new-course">
      <div class="container">
        <h3 class="h3-color">Certification Programs</h3>
        <div class="new-course-grids">
          <div class="col-md-6 new-course-grid">
            <img src="modules/core/client/img/brand/p7.jpg" class="img-responsive" alt="" />
            <div class="course-info">
              <h4>AWS</h4>
              <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
            </div>
          </div>
          <div class="col-md-6 new-course-grid">
            <img src="modules/core/client/img/brand/p8.jpg" class="img-responsive" alt="" />
            <div class="course-info">
              <h4>DevOps</h4>
              <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> -->
    <!--team-->
    <!-- <div class="team">
      <div class="container">
        <h3>Our Team</h3>
        <ul class="ch-grid">
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-1"></div>
                <div class="ch-info-back">
                  <h4>Director<br>by Chatarji</h4>
                  <p>1.Support relative projects.
                    <br>2.Firstlevel escalations.
                    <a href="#">chatarji.khyaathi@gmail.com<br>9666941555</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-2"></div>
                <div class="ch-info-back">
                  <h4>counselor by Ramya Krishna</h4>
                  <p>1.New Batches/timings.
                    <br>2.Video sharing.
                    <br>3.Content Information.<a href="#">khyaathi.trainings@gmail.com<br>9951984442</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-3"></div>
                <div class="ch-info-back">
                  <h4>Leader</h4>
                  <p>by Eileen Tjan <a href="#">View on Dribbble</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-4"></div>
                <div class="ch-info-back">
                  <h4>Leader</h4>
                  <p>by Eileen Tjan <a href="#">View on Dribbble</a></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</section>
