<section class="footerclassbg text-center">
  <div class="footer-section">
    <div class="container">
      <div class="social-icons">
        <a href="https://www.facebook.com/Khyaathi-Cloud-Technologies-252557818559111/facebooklinkforkhyaathi"><i class="icon1"></i></a>
        <a href="https://twitter.com/KhyaathiCloud/twitter"><i class="icon2"></i></a>
        <a href="#"><i class="icon3"></i></a>
        <a href="https://in.linkedin.com/in/khyaathi-cloud-technologies-848998142"><i class="icon4"></i></a>
      </div>
      <div class="footer-top">
        <p>Copyright © 2018 | Khyaathi Cloud Technologies</p>
      </div>
    </div>
  </div>
</section>
