<section class="wrapper" ng-controller="HomeController">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3 class="mySlides slideFontSize">Decent Education - Successful Career </h3>
        <h3 class="mySlides slideFontSize">Preparing students for successful  future </h3>
        <h3 class="mySlides slideFontSize">Decent Education - Successful Career </h3>
      </div>
    </div>
          <div class="row">
            <div class="col-md-4 col-xs-12 header-grid">
              <div class="header-bg">
                <!-- <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/p1_1.jpg" class="img-responsive" alt="/" style="width: 100%;height: 248px"> -->
                <h4>Fun Learning</h4>
                <p>We are into Classroom,online ,self paced training. Our experienced Faculty having vast domain knowledge will help you fine tune your career.<br/><br/></p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 header-grid">
              <div class="header-bg">
                <!-- <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/p2_2.jpg" class="img-responsive" alt="/"  style="width: 100%;height: 223px"> -->
                <h4>Support</h4>
                <p>We provide support around the clock. We have workshop,seminars and hackathon which provide you with an insight of what is happening in the industry and getting you ready for the real world.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 header-grid">
              <div class="header-bg">
                <!-- <img src="https://d3722clvfnu64p.cloudfront.net/modules/core/client/img/brand/p3_3.jpg" class="img-responsive" alt="/"  style="width: 100%"> -->
                <h4>Trainings</h4>
                <p>We provide training on Python, Django, Flask, Ansibel, Android, Html, Css, Jquery, puppet, chef, nagios, vagrant, devops, bootstrap, angularjs, openstack, AWS, dockers and kubernates Hyderabad etc..</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <h3 class="text-center"><b>Courses</b></h3>
            <div class="col-md-3 col-xs-12 text-center" ng-repeat="course in courses" style="height: 225px">
              <a ui-sref="courses.view({ courseId: course._id })" title="{{course.name}}"><img ng-src="{{ course.courseIcon || 'modules/core/client/img/brand/defaultcourse.png' }}" class="img-circle" width="100px" height="100px" /></a>
              <a class="courseheover" ui-sref="courses.view({ courseId: course._id })" title="{{course.name}}"><h3 class="">{{course.name}}</h3></a>
            </div>
          </div>
  </div>
</section>
<!-- <section class="wrapper bg-color-for-home" ng-controller="HomeController">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
        <h3 class="mySlides slideFontSize">Decent Education - Successful Career </h3>
        <h3 class="mySlides slideFontSize">Preparing students for successful  future </h3>
        <h3 class="mySlides slideFontSize">Decent Education - Successful Career </h3>
      </div>
    </div>
    <div class="content">
      <div class="about">
        <div class="">
          <div class="header-bottom">
            <div class="header-grids row">
              <div class="col-md-4 col-xs-12 header-grid">
                <div class="header-bg">
                  <img src="modules/core/client/img/brand/p1.jpg" class="img-responsive" alt="/">
                  <h4>Dolor nunc vule </h4>
                  <p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 header-grid">
                <div class="header-bg">
                  <img src="modules/core/client/img/brand/p2.jpg" class="img-responsive" alt="/">
                  <h4>Dolor nunc vule </h4>
                  <p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 header-grid">
                <div class="header-bg">
                  <img src="modules/core/client/img/brand/p3.jpg" class="img-responsive" alt="/">
                  <h4>Dolor nunc vule </h4>
                  <p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <h2>About</h2>
        <div class="about-grids">
          <div class="col-md-6 about-grid">
            <div class="about-grid-left">
              <h4>Mark Johnson </h4>
              <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
            </div>
            <div class="about-grid-right">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-6 about-grid">
            <div class="about-grid-right aliquam">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </div>
            <div class="about-grid-left non">
              <h4>Olivia Grosh </h4>
              <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="about-grids">
          <div class="col-md-6 about-grid">
            <div class="about-grid-left">
              <h4>Caroline Beek</h4>
              <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
            </div>
            <div class="about-grid-right">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-6 about-grid">
            <div class="about-grid-right aliquam">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            </div>
            <div class="about-grid-left non">
              <h4>Sam Kromstain</h4>
              <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  about
  <div class="student">
    <div class="container">
      <h3>For Student</h3>
      <div class="student-grids">
        <div class="col-md-4 student-grid">
          <img src="modules/core/client/img/brand/p4.jpg" class="img-responsive" alt="" />
          <h4>attendance procedure</h4>
          <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
        </div>
        <div class="col-md-4 student-grid">
          <img src="modules/core/client/img/brand/p5.jpg" class="img-responsive" alt="/">
          <h4>health & help</h4>
          <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
        </div>
        <div class="col-md-4 student-grid">
          <img src="modules/core/client/img/brand/p6.jpg" class="img-responsive" alt="/">
          <h4>course selection</h4>
          <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  services
  <div class="new-course">
    <div class="container">
      <h3>New Course</h3>
      <div class="new-course-grids">
        <div class="col-md-6 new-course-grid">
          <img src="modules/core/client/img/brand/p7.jpg" class="img-responsive" alt="" />
          <div class="course-info">
            <h4>Python</h4>
            <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
          </div>
        </div>
        <div class="col-md-6 new-course-grid">
          <img src="modules/core/client/img/brand/p8.jpg" class="img-responsive" alt="" />
          <div class="course-info">
            <h4>Django</h4>
            <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="new-course-grids1">
        <div class="col-md-6 new-course-grid">
          <img src="modules/core/client/img/brand/p9.jpg" class="img-responsive" alt="" />
          <div class="course-info">
            <h4>DevOps</h4>
            <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
          </div>
        </div>
        <div class="col-md-6 new-course-grid">
          <img src="modules/core/client/img/brand/p10.jpg" class="img-responsive" alt="" />
          <div class="course-info">
            <h4>AWS</h4>
            <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="container">
      <div class="testimonial-grids">
        <div class="col-md-4 testimonial-grid">
          <h3>Testimonial</h3>
          <div class="testimonial-info">
            <p><span>"</span> Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget</p>
            <h5>EMMA S.</h5>
          </div>
          <div class="testimonial-info">
            <p><span>" </span> Vestibulum et consequat justo. Maecenas ultrices malesuada leo porta venenatis. Sed sit amet diam facilisis, interdum tellus nec</p>
            <h5>JOHN D.</h5>
          </div>
          <div class="testimonial-info">
            <p><span>" </span> Cras elementum sed mi sit amet ullamcorper. Cras sed felis a enim rutrum lobortis a eu nisi. Curabitur justo libero, hendrerit at</p>
            <h5>EMMA S.</h5>
          </div>
        </div>
        <div>
          <div id="newsticker-demo">
            <div class="title">Latest News</div>
            <div class="newsticker-jcarousellite">
              <ul>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?knight_lady">The Knight and the Lady</a></div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?family_of_colors">The Family of Colors</a></div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?teddybear_mac">Teddy Bear and MacBook</a></div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?rainbow_butterfly">Rainbow Butterfly</a></div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?space_travel">Space Travel</a></div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="info">
                    <a href="http://www.vladstudio.com/wallpaper/?traveling_tree">The Traveling Tree</a></div>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> -->
<div id="myModal" class="modal">
  <div class="modal-content" ng-controller="ContactController">
    <span class="close" ng-click="closeModal()">&times;</span>
    <div class="contact-form" ng-cont>
      <h4>Contact Form</h4>
      <form name="contactForm" ng-submit="contactEmailModal(contactForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <div class="col-md-4">
              <input name="name" type="text" value="Name" style="text-transform: capitalize; " placeholder="Enter Your Name" required="" class="form-control" ng-model="contactData.name">
            </div>
            <div class="col-md-4">
              <input name="email" class="email form-control" placeholder="Enter Your Email" type="text" value="Email" required="" ng-model="contactData.email">
            </div>
            <div class="col-md-4">
              <input name="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" value="Telephone" placeholder="Enter Your Phone" required="" class="form-control" ng-model="contactData.phone">
            </div>
          </div>
          <textarea name="tarea" type="text" placeholder="Enter Your Message" required class="form-control" ng-model="contactData.textData">Message...</textarea>
          <!-- <input type="submit" value="Send Email" /> -->
          <button type="submit" class="btn btn-primary" ng-disabled="disableValue">Send Email</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
