<section class="bg-color-white margin-top-Value">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- <iframe src="https://calendar.google.com/calendar/embed?src=39t9b1gke9b9oid0f9nqglf2l8%40group.calendar.google.com&ctz=Asia%2FCalcutta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
          <iframe src="https://calendar.google.com/calendar/embed?src=khyaathi.trainings%40gmail.com&ctz=Asia%2FCalcutta" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
