<section class="bg-color-white container">
  <div class="page-header">
    <h1>Adminpanels</h1>
  </div>
  <div class="list-group">
    <table class="table table-striped">
    <tr>
      <th>
        User Name
      </th>
      <th>
        E-mail
      </th>
      <th>
        Roles
      </th>
      <th>
        Actions
      </th>
    </tr>
    <tr ng-repeat="adminpanel in vm.adminpanels">
      <td>
        {{adminpanel.displayName}}
      </td>
      <td>
        {{adminpanel.email}}
      </td>
      <td>
        <span ng-repeat="roles in adminpanel.roles">{{roles}}</span>
      </td>
      <td>
        <a ui-sref="adminpanels.view({ adminpanelId: adminpanel._id })" title="Edit"><i class="fa fa-pencil faiconsize" aria-hidden="true"></i></a><a ui-sref="adminpanels.view({ adminpanelId: adminpanel._id })" title="View"><i class="fa fa-eye faiconsize" aria-hidden="true"></i></a>
      </td>
    </tr>
  </table>
  </div><!--
  <div class="alert alert-warning text-center" ng-if="vm.adminpanels.$resolved && !vm.adminpanels.length">
    No Adminpanels yet, why don't you <a ui-sref="adminpanels.create">create one</a>?
  </div> -->
  
</section>
