<section class="bg-color-white container">
  <div class="page-header">
    <h1 ng-bind="vm.adminpanel.displayName"></h1>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
      Name: <input name="name" type="text" ng-model="vm.adminpanel.displayName" id="name" class="form-control inputText" disabled="disabled" />
      Email: <input name="name" type="text" ng-model="vm.adminpanel.email" id="email" class="form-control inputText" disabled="disabled" />
      
      <div class="row">
        Roles:
        <div class="col-md-3 col-sm-3 col-xs-6">
          <input name="name" type="checkbox" ng-model="vm.adminpanel.roleadmin" id="email" class="form-control inputText"/> Admin
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <input name="name" type="checkbox" ng-model="vm.adminpanel.roleuser" id="email" class="form-control inputText"/> User
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-ofset-1 col-xs-10">
          <input type="button" class="btn btn-primary" ng-click="vm.updateUser(vm.adminpanel)" name="Save User" value="Save User">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="pull-right"
       ng-show="vm.adminpanel.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="adminpanels.edit({ adminpanelId: vm.adminpanel._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.adminpanel.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.adminpanel.user"
            ng-bind="vm.adminpanel.user.displayName"></span>
      <span ng-if="!vm.adminpanel.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.adminpanel.content"></p> -->
</section>
