<section class="bg-color-white">
  <!-- <div class="list-group">
    <a ng-repeat="course in vm.courses"
       ui-sref="courses.view({ courseId: course._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="course.created | date:'mediumDate'"></span>
        by
        <span ng-if="course.user" ng-bind="course.user.displayName"></span>
        <span ng-if="!course.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="course.name"></h4>
    </a>
  </div> -->
  <div class="container paddingCourse">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p class="text-center courseColor fontcourse">Courses</p>
      </div>
      <div class="col-md-3 text-right" ng-show="authentication.user">
        <p class="text-right"><a ui-sref="courses.create" title="Add Course"><i class="fa fa-plus faiconsize" aria-hidden="true"></i></a></p>
      </div>
    </div>
    <table class="table table-striped table-hover" ng-show="authentication.user">
      <tr>
        <th width="4%"></th>
        <th width="76%">Course Name</th>
        <th width="20%">Actions</th>
      </tr>
      <tr ng-repeat="course in vm.courses">
        <td><img ng-src="{{ course.courseIcon || 'modules/core/client/img/brand/defaultcourse.png' }}" class="img-circle" width="35px" height="35px" /></td>
        <td class="tbcoursepadding"><span class="spancourselist" width="35px" height="35px">{{course.name}}</span></td>
        <td><a ui-sref="courses.edit({ courseId: course._id })" title="Edit"><i class="fa fa-pencil faiconsize" aria-hidden="true"></i></a><a ui-sref="courses.view({ courseId: course._id })" title="View"><i class="fa fa-eye faiconsize" aria-hidden="true"></i></a><a href="" ng-click="deleteCourse(course,$index)" title="Delete"><i class="fa fa-trash faiconsize" aria-hidden="true"></i></a><a href="" ng-show="!course.hashIcon" ng-click="hashcourse(course,$index)" title="Hash On"><i class="fa fa-square-o faiconsize" aria-hidden="true"></i></a>
          <a href="" ng-show="course.hashIcon" ng-click="hashcourse(course,$index)" title="Hash Off">
            <del><i class="fa fa-check-square-o faiconsize" aria-hidden="true"></i></del>
          </a>
        </td>
      </tr>
    </table>
    <div class="row" ng-show="!authentication.user">
      <div class="col-md-3" ng-repeat="course in vm.courses" style="height: 225px">
        <a ng-click="editCourse(course)" title="{{course.name}}"><img ng-src="{{ course.courseIcon || 'modules/core/client/img/brand/defaultcourse.png' }}" class="img-circle" width="100px" height="100px" /></a>
        <a class="courseheover" ui-sref="courses.view({ courseId: course._id })" title="{{course.name}}"><h3 class="">{{course.name}}</h3></a>
      </div>
    </div>
    <div ng-show="authentication.user">
      <div class="text-center" ng-if="vm.courses.$resolved && !vm.courses.length">
        <h2 class="courseColor">No Courses yet, why don't you <a class="acourseColor" ui-sref="courses.create">create one</a>?</h2>
      </div>
    </div>
    <div ng-show="!authentication.user">
      <div class="text-center" ng-if="vm.courses.$resolved && !vm.courses.length">
        <h2 class="courseColor">No Courses posted.</h2>
      </div>
    </div>
  </div>
</section>

<!--ui-sref="courses.view({ courseId: course._id })" -->
